<h1>PIRATES AND SHIPS</h1>
<html>
 <head>
  <meta charset="UTF-8">
  <title>PIRATES AND SHIPS</title>
 </head>
 <body>
     <form action="/pirates" method="post">
     <p><label> Pirate name: <input type="text" name="pirate[name]">
       Pirate weight: <input type="text" name="pirate[weight]">
       Pirate height: <input type="text" name="pirate[height]"></label></p>

      <p><label> Ship name: <input id="ship_name_1" type="text" name ="pirate[ships][][name]">
      Ship type: <input id="ship_type_1" type="text" name ="pirate[ships][][type]">
      Ship booty: <input id="ship_booty_1" type="text" name ="pirate[ships][][booty]">
      </label></p>

      <p><label> Ship name: <input id="ship_name_2" type="text" name ="pirate[ships][][name]">
         Ship type: <input id="ship_type_2" type="text" name ="pirate[ships][][type]">
         Ship booty: <input id="ship_booty_2" type="text" name ="pirate[ships][][booty]">
      </label></p>

       <input type="submit" value="Submit">
   </form>
 </body>
</html>
